*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.expo/
node_modules/
composeApp/src/commonMain/kotlin/utils/EnvConstant.kt
gradle.properties
*.properties
/ios
/dbStructure
/docs/demo_data/
/composeApp/src/commonMain/kotlin/utils/starbase/
/release_apk/closeBeta
/composeApp/cache
/composeApp/kcef-bundle
composeApp/src/commonMain/kotlin/TestEnv.kt
/composeApp/production
/composeApp/stores
