<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQXxcKCv9H75hIHmniFsH0s9zR4TKUees</string>
	<key>GCM_SENDER_ID</key>
	<string>342725619177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voc.honkaistargazerbeta</string>
	<key>PROJECT_ID</key>
	<string>honkai-stargazer-bf382</string>
	<key>STORAGE_BUCKET</key>
	<string>honkai-stargazer-bf382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342725619177:ios:065fd65f396847639e6f78</string>
</dict>
</plist>