<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HonkaiStargazer">
        <activity
            android:name=".ui.ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.HonkaiStargazer.NoActionBar" />
        <activity
            android:name=".AimActivity"
            android:exported="false"
            android:label="@string/title_activity_aim"
            android:theme="@style/Theme.HonkaiStargazer" />
        <activity
            android:name=".ui.MuseumPage"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.DevPage"
            android:exported="false" />
        <activity
            android:name=".ui.RootPage"
            android:configChanges="locale|orientation|uiMode"
            android:exported="true"
            android:theme="@style/Theme.HonkaiStargazer"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.voc.honkai_stargazer.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>