<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HonkaiStargazer">
        <activity
            android:name=".ui.DevPage"
            android:exported="false" />
        <activity
            android:name=".ui.HomePage"
            android:configChanges="locale|orientation|uiMode"
            android:exported="true"
            android:theme="@style/Theme.HonkaiStargazer"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HonkaiStargazer" />
    </application>

</manifest>